<header class='app-header'>
  <div class="container">
    <div class="row">
      <nav class="col-md-12 app-header__navigation">
        <a routerLink='/home' class="home-link app-header__link">
          <i class="home-link__icon fa fa-home" aria-hedden='true'></i>
          <span class="app-header__link-text">home</span>
        </a>
        <a routerLink='/users' class="app-header__link users-link" *ngIf='isAdmin' >
          <i class="fa fa-users users-link__icon" aria-hidden="true"></i>
          <span class="app-header__link-text">User</span>
        </a>
        <a routerLink='/user-settings' class="user-link app-header__link">
          <i class="user-link__icon fa fa-user-circle" aria-hidden='true'></i>
        </a>
      </nav>
    </div>
  </div>
</header>
