@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
$base-font: 'Open Sans', sans-serif;
$error-red: #e61610;
$yellow: #fefb64;
$black: #000;
$green: #72bb53;
$grey: #d1d1d1;
$grey-buttons: #e2e2e2;
$orange: #ffa834;
$dark-green: #629c44;
$grey-placeholder:  #7a7a7a;
@mixin placeholder($color){
  &::-webkit-input-placeholder{
    opacity: 1;
    color: $color;
  }
  &::-moz-placeholder{
    opacity: 1;
    color: $color;
  }
  &:-ms-input-placeholder{
    opacity: 1;
    color: $color;
  }
  &:-moz-placeholder{
    opacity: 1;
    color: $color;
  }
  &::placeholder{
    opacity: 1;
    color: $color;
  }
}
