<app-header [projectId]='parentId'></app-header>
<div class="container task">
  <div class="row">
    <div class="col-md-12">
      <h1 class='task__name'>{{task.name}}</h1>
      <i class="fa fa-pencil task__add-comment" aria-hidden="true" (click)='showModal()'></i>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 task__body">
      <p class="task__field">Description</p>
      <p class="task__content">{{task.description}}</p>
    </div>
    <div class="col-md-12 task__body">
      <p class="task__field">Date</p>
      <p class="task__content">{{task.date | date: 'dd. MM. yyyy'}}</p>
    </div>
  </div>
</div>
<div class="container" *ngIf='task.comments'>
  <div class="row">
    <app-task-comments [comment]='comment' *ngFor='let comment of task.comments'></app-task-comments>
  </div>
</div>
<div class="add-comment-block" *ngIf='modal'>
  <div class="backface" (click)='cancel()'></div>
  <form class="add-comment" (submit)='addComment()' (keyup.enter)='addComment()' #addCommentForm='ngForm'>
  <div class="add-comment__buttons">
    <button type='submit' class='add-comment__button add-comment__button_save' [disabled]='addCommentForm.form.invalid'>save</button>
    <button type='reset' (click)='cancel()' class='add-comment__button add-comment__button_cancel'>cancel</button>
  </div>
    <textarea name="commentText" [(ngModel)]='commentText' placeholder='Your comment' class='add-comment__input' maxlength="150" required></textarea>
  </form>
</div>
