@import "../../assets/common-styles/variables";
.user-settings{
  &__buttons{
    text-align: right;
    padding: 20px 0;
    margin-bottom: 100px;
  }
  &__button{
    display: inline-block;
    text-align: center;
    width: 200px;
    border: 1px solid $black;
    background-color: #fff;
    transition: all .3s;
    &_save{
      background-color: $green;
      color: #fff;
      &:not([disabled]):hover{
        background-color: lighten($green,20%);
      }
    }
    &_cancel{
      background-color: $error-red;
      color: #fff;
      &:hover{
        background-color: lighten($error-red,20%);
      }
    }
    &[disabled]{
      opacity: .5;
    }
    &:focus{
      outline: none;
    }
    &:last-of-type{
      margin-left: -4px;
    }
  }
  &__fields{
    width: 280px;
    margin: 0 auto;
    max-width: 100%;
  }
  &__field{
    display: block;
    margin-bottom: 20px;
  }
  &__field-key{
    width: 100px;
    display: inline-block;
    font-weight: normal;
    vertical-align: top;
  }
  &__fields-password{
    display: inline-block;
    width: calc(100% - 108px);
  }
  &__field-value, &__field-password-value{
    padding: 0 5px;
    box-sizing: border-box;
    width: calc(100% - 108px);
    display: inline-block;
    font-weight: normal;
    border: 1px solid $grey;
    &:focus{
      outline: none;
      border: 1px solid $green;
    }
  }
  &__field-password-value{
    width: 100%;
    margin-bottom: 20px;
    &_invalid{
      border-color: $error-red;
      &:focus{
        border-color: $error-red;
      }
    }
  }
}
