<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="project-name">{{project.name}}</h1>
      <div class="admin-buttons" *ngIf='isAdmin'>
        <i class="fa fa-plus-circle admin-buttons__button" aria-hidden="true" (click)='modalTask()'></i>
        <i class="fa fa-users admin-buttons__button" aria-hidden="true" (click)='showUserList()'></i>
      </div>
    </div>
  </div>
</div>
<div class="container" *ngIf='project.tasks'>
  <div class="row">
    <div class="col-md-12" *ngFor='let task of project.tasks'>
      <a [routerLink]="['/task', task.parentId ,task.id]" class="task">
        <i class="fa fa-list-ul task__icon" aria-hidden="true"></i> <span class='task__name'>{{task.name}}</span>
      </a>
    </div>
  </div>
</div>
<div class="add-task-modal" *ngIf='taskModal'>
  <div class="add-task-modal__backface" (click)="cancel()"></div>
  <form class="add-task" (submit)='addTask()' (keyup.enter)='addTask()' #addTaskForm='ngForm'>
    <div class="add-task__buttons">
      <button type='submit' class='add-task__button add-task__button_save' [disabled]='addTaskForm.form.invalid'>add</button>
      <button type='reset' (click)='cancel()' class='add-task__button add-task__button_cancel'>cancel</button>
    </div>
    <input type="text" [(ngModel)]='taskName' name='taskName' placeholder='Task name' class='add-task__input' maxlength="15" required>
    <textarea name="taskDescr" [(ngModel)]="taskDescr" placeholder='Task description' class='add-task__input add-task__input_descr' maxlength='180' required></textarea>
  </form>
</div>
<app-add-project-users [project]='project' *ngIf='usersModal' (closeModal)='usersModal = false'></app-add-project-users>
