/* You can add global styles to this file, and also import other style files */
@import './assets/common-styles/variables';

html{
  font-size: 14px;
}
body{
  font-family: $base-font;
}
.loader{
  height: 100vh;
  width: 100vw;
  background: {
    image: url('./assets/preloader.gif');
    repeat: no-repeat;
    position: center;
  };
}
